<div class="container">
 <div class="row">
  <div class="col-md-6 order-sm-first">
   <a href="dirac-bash-command-line-schedule">
    <h3>
     Bash Shell: Using the Command Line
    </h3>
   </a>
   <ul>
    <li>
     The benefits to using HPC resources like DiRAC and the means by which you access them.
    </li>
    <li>
     How to connect to DiRAC resources using properly managed security credentials.
    </li>
    <li>
     Navigating and inspecting files on DiRAC using the Bash shell.
    </li>
    <li>
     Creating and managing files using the Bash shell, and how to transfer files to/from DiRAC resources.
    </li>
    <li>
     How to use Bash shell commands efficiently over many files and to capture program output.
    </li>
    <li>
     How to write and run a Bash script that executes commands over many input files.
    </li>
    <li>
     Combining Bash scripts with other commands using pipes.
    </li>
   </ul>
  </div>
  <div class="col-md-6 order-sm-last">
   <a href="shell-novice-schedule">
    <h3>
     Automating Tasks with the Unix Shell
    </h3>
   </a>
   Write a short description of this lesson for display on the course homepage. THIS MUST BE IN HTML or PLAINTEXT.
  </div>
  <div class="col-md-6 order-sm-first">
   <a href="openrefine-data-cleaning-schedule">
    <h3>
     Data Cleaning with OpenRefine
    </h3>
   </a>
   Write a short description of this lesson for display on the course homepage. THIS MUST BE IN HTML or PLAINTEXT.
  </div>
  <div class="col-md-6 order-sm-last">
   <a href="git-novice-schedule">
    <h3>
     Version Control with git
    </h3>
   </a>
   Write a short description of this lesson for display on the course homepage. THIS MUST BE IN HTML or PLAINTEXT.
  </div>
  <div class="col-md-6 order-sm-first">
   <a href="project-novice-schedule">
    <h3>
     Managing Academic Software Development
    </h3>
   </a>
   The development academic software is a complex process. 
This lesson teaches the basics of managing project development and release, 
using the project management tools on the repository hosting site GitHub (and is applicable to repositories hosted on GitLab).
  </div>
  <div class="col-md-6 order-sm-last">
   <a href="python-novice-schedule">
    <h3>
     Building Programs with Python
    </h3>
   </a>
   Write a short description of this lesson for display on the course homepage. THIS MUST BE IN HTML or PLAINTEXT.
  </div>
 </div>
</div>